* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.c-body {
  font-family: 'League Spartan', sans-serif;
  display: grid;
  place-items: center;
  background-color: hsl(222, 26%, 31%);
  color: white;
  min-height: 100vh;
}

.c-calculadora {
  margin-inline: 10px;
}

.c-calculadora__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
}

.c-theme {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.c-theme__interruptor {
  width: 60px;
  background-color: hsl(223, 31%, 20%);
  aspect-ratio: 1 / .35;
  border-radius: 30px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  transition: .2s;
  position: relative;
}

.c-theme__interruptor::before {
  content: "1 2 3";
  position: absolute;
  top: -12px;
  width: max-content;
  transform: translateX(-50%);
  left: 50%;
  word-spacing: 12px;
}

.c-theme__bolita {
  aspect-ratio: 1;
  background-color: hsl(6, 63%, 50%);
  height: calc(100% - 6px);
  border-radius: 50%;
  position: absolute;
  transition: .2s;
  left: 3px;
}

.c-theme__bolita::before {
  content: "";
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  opacity: 0;
}

.c-theme__interruptor:hover .c-theme__bolita:before {
  opacity: .2;
  transition: .2s;
}

.c-calculadora__pantalla {
  width: 430px;
  background-color: hsl(224, 36%, 15%);
  border-radius: 6px;
  height: 100px;
  margin-block: 15px;
  font-size: 38px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: auto;
}

.c-calculadora__botones {
  display: grid;
  padding: 20px;
  border-radius: 6px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: hsl(223, 31%, 20%);
  gap: 20px;
}

.c-calculadora__botones span {
  display: grid;
  place-items: center;
  border-radius: 6px;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  height: 48px;
  font-size: 30px;
  box-shadow: 0 3px hsl(28, 16%, 65%);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.c-calculadora__botones .c-calculadora__input:hover {
  background-color: white;
}

.c-calculadora__botones .c-calculadora__reset,
.c-calculadora__botones .c-calculadora__del {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 3px hsl(224, 28%, 35%);
  color: white;
  font-size: 25px;
}

.c-calculadora__botones .c-calculadora__reset:hover::before,
.c-calculadora__botones .c-calculadora__del:hover::before,
.c-calculadora__botones .c-calculadora__igual:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: .3;
}

.c-calculadora__botones .c-calculadora__reset,
.c-calculadora__botones .c-calculadora__igual {
  grid-column: span 2;
}

.c-calculadora__botones .c-calculadora__igual {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 3px hsl(6, 70%, 34%);
  color: white;
}

/* Theme 3 */
.c-theme-3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}

.c-theme-3 .c-calculadora__header .c-theme__interruptor,
.c-theme-3 .c-calculadora__botones,
.c-theme-3 .c-calculadora__pantalla {
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
}

.c-theme-3 .c-calculadora__botones span {
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 3px hsl(290, 70%, 36%);
}

.c-theme-3 .c-calculadora__botones .c-calculadora__input:hover {
  background-color: hsl(281, 89%, 26%);
}

.c-theme-3 .c-calculadora__botones .c-calculadora__reset,
.c-theme-3 .c-calculadora__botones .c-calculadora__del {
  color: white;
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 3px hsl(285, 91%, 52%);
}

.c-theme-3 .c-calculadora__botones .c-calculadora__reset:hover::before,
.c-theme-3 .c-calculadora__botones .c-calculadora__del:hover::before {
  opacity: .15;
}

.c-theme-3 .c-calculadora__botones .c-calculadora__igual {
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0 3px hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
}

/* Theme 2 */
.c-theme-2 {
  background-color: hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%);
}

.c-theme-2 .c-calculadora__header .c-theme__interruptor {
  background-color: hsl(0, 5%, 81%);
}

.c-theme-2 .c-calculadora__header .c-theme__interruptor .c-theme__bolita {
  background-color: hsl(25, 98%, 40%);
}

.c-theme-2 .c-calculadora__pantalla {
  background-color: hsl(0, 0%, 93%);
  color: hsl(60, 10%, 19%);
}

.c-theme-2 .c-calculadora__botones {
  background-color: hsl(0, 5%, 81%);
}

@media (max-width:450px) {
  .c-calculadora{
    width: calc(100% - 15px);
  }
  .c-calculadora .c-calculadora__pantalla{
      width: 100%;
    }
}


/* Autoría */
.c-developer {
  font-size: 16px;
  text-align: center;
  margin-top: 100px;
  margin-bottom:30px;
  text-decoration: none;
}

.c-developer__link {
      color: steelblue;
      text-decoration: none;
  }

.c-developer__link:hover {
      color: peru;
  }

.c-developer__text{
      color:white;
}

.c-developer__link--jocodev{
  font-size: 20px;

}


